{% load static %}
{% include 'header.html' %}
<style>
    #about1{
         margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
   text-align: center;
   display: block;
  margin-left: auto;
  margin-right: auto;
         background-color:rgb(230, 255, 153);
          vertical-align: middle;
          justify-content: center;
  align-items: center;

    }
</style>
<div id="about1">
<h2><b> AboutUs </b></h2>
<h4><b>Insta Agri Enterprises Pvt. Ltd. Baramati</b></h4>
<p>Email: <em>aniruddhanale26@gmail.com</em></p>
<p>Phone: <em>+917709792004</em></p>
<address>2 Mayureshwar Apartment
    <br>Pragatinagar , Baramati <br>
     pin.no 413102</address>
<br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1781.3041700518468!2d74.58693392476947!3d18.166773168868296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc39ff9e5d6f73b%3A0xd05763820b99a3af!2sPragatinagar%2C%20Baramati%2C%20Maharashtra%20413102!5e1!3m2!1sen!2sin!4v1646208470155!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{% include 'footer.html' %}